# xcode noise
*.mode1v3
*.pbxuser
*.perspective 
*.perspectivev3
*.pyc 
*~.nib/
build/*

# Textmate - if you build your xcode projects with it
*.tm_build_errors

# old skool
.svn

# osx noise
.DS_Store
profile

#more
Inspiration.xcodeproj/xcuserdata/*
Inspiration.xcodeproj/project.xcworkspace/xcuserdata/*
Inspiration.xcodeproj/project.xcworkspace/xcuserdata/**
Inspiration.xcodeproj/project.xcworkspace/xcuserdata/ethan.xcuserdatad/UserInterfaceState.xcuserstate
Inspiration.xcodeproj/project.xcworkspace/xcuserdata/ethan.xcuserdatad/UserInterfaceState.xcuserstate**
